<!DOCTYPE html>
<html>
	<head>
		<title>ISS Flyover</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<style>
			.container {
				max-width: 600px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>See the station <small>Spot the ISS</small></h1>
				<div class="text-center">
					<button class="btn btn-default" id="refresh">Refresh</button>
				</div>
				<div><b>On the Station right now</b> <span id="span_astronauts"></span></div>
				<hr>
				<div>
					Latitude: <input id="latitude" type="text" value="50.84">
					Longitude: <input id="longitude" type="text" value="-0.3668">
				</div>
			</div>
			<h2>Weather Summary</h2>
			<div id="summary"></div>

			<h2>Flyovers</h2>
			<div id="div_flyovers"></div>
		</div>
		
		<script type="text/template" id="day-template">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Day: <%= title %></h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<% _.each(flyovers, function (flyover) { %>
							<li class="list-group-item">
								<b>
									<%= flyover.risetime.toLocaleString() %>
									for <%= Math.floor(flyover.duration/60) %>m<%= flyover.duration % 60 %>
								</b>
								<%= flyover.weatherDescription %>
							</li>
						<% }) %>
					</ul>
				</div>
			</div>
			
		</script>

		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/underscore/underscore.js"></script>
		<script src="script.js"></script>
	</body>
</html>